In [1]:
import pandas as pd
import altair as alt

In [2]:
df = pd.read_csv("../data/raw/filtered_canada_num.csv")
df.head()

,Unnamed: 0.1,Unnamed: 0,REF_DATE,GEO,DGUID,Gender,Type of corporation,Country,Industry,Size of enterprise,...,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,0,420,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Total all industries,Total all sizes,...,223,units,0,v1352138562,1.1.1.2.1.1.1.1,3455.0,NaN,NaN,NaN,0
1,2,422,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Total all industries,Total all sizes,...,223,units,0,v1428695348,1.1.1.2.1.1.2.1,4277.0,NaN,NaN,NaN,0
2,4,424,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Total all industries,Total all sizes,...,223,units,0,v1428695349,1.1.1.2.1.1.3.1,1110.0,NaN,NaN,NaN,0
3,6,426,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Total all industries,Total all sizes,...,223,units,0,v1428695350,1.1.1.2.1.1.4.1,3167.0,NaN,NaN,NaN,0
4,8,428,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Total all industries,First quartile,...,223,units,0,v1352152062,1.1.1.2.1.2.1.1,652.0,NaN,NaN,NaN,0

In [18]:
df['Executive'].unique()

array(['Directors', 'All officers\xa0', 'Top officers\xa0',
       'Other officers\xa0'], dtype=object)

In [25]:
# We are only planning to manipulate province (GEO), Year (REF_DATE) and Industry (Industry)
# I will thus only retain the data corresponding to 'Total all corporations/sizes etc'
filtered_df = df.query('`Type of corporation` == "Total all corporations" & `Size of enterprise` == "Total all sizes"')
filtered_df = filtered_df.query('Executive == "All officers\xa0"')
filtered_df.Executive.unique()

array(['All officers\xa0'], dtype=object)

In [26]:
filtered_df.GEO.unique() # Options for province filtering (later)

array(['Canada, total', 'Newfoundland and Labrador',
       'Prince Edward Island', 'Nova Scotia', 'New Brunswick', 'Quebec',
       'Ontario', 'Manitoba', 'Saskatchewan', 'Alberta',
       'British Columbia', 'Yukon', 'Northwest Territories', 'Nunavut',
       'Unclassified province or territory'], dtype=object)

According to our Milestone 1 proposal, the aim of the cards is to show the overall proportion (%) of males and females in the subset selected. <br>
IDEA FOR FUTURE: Might need to make a way to disallow selection of `Canada, total` if we select some province(s), since there will be an overlap. Not sure how to do this yet.

In [27]:
# Aim: Cards showing overall % of males and females in all of Canada
women_df = filtered_df.query('Gender == "Women"')
women_df.head()

,Unnamed: 0.1,Unnamed: 0,REF_DATE,GEO,DGUID,Gender,Type of corporation,Country,Industry,Size of enterprise,...,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
1,2,422,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Total all industries,Total all sizes,...,223,units,0,v1428695348,1.1.1.2.1.1.2.1,4277.0,NaN,NaN,NaN,0
22,44,464,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Finance,Total all sizes,...,223,units,0,v1428693773,1.1.1.2.2.1.2.1,1553.0,NaN,NaN,NaN,0
43,86,506,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Utilities,Total all sizes,...,223,units,0,v1428695123,1.1.1.2.3.1.2.1,134.0,NaN,NaN,NaN,0
64,128,548,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Management of companies and enterprises,Total all sizes,...,223,units,0,v1428693323,1.1.1.2.4.1.2.1,661.0,NaN,NaN,NaN,0
85,170,590,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Distributive trade,Total all sizes,...,223,units,0,v1428694448,1.1.1.2.5.1.2.1,198.0,NaN,NaN,NaN,0

In [28]:
women_df = filtered_df.query('Gender == "Women"')
women_df.head()

,Unnamed: 0.1,Unnamed: 0,REF_DATE,GEO,DGUID,Gender,Type of corporation,Country,Industry,Size of enterprise,...,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
1,2,422,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Total all industries,Total all sizes,...,223,units,0,v1428695348,1.1.1.2.1.1.2.1,4277.0,NaN,NaN,NaN,0
22,44,464,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Finance,Total all sizes,...,223,units,0,v1428693773,1.1.1.2.2.1.2.1,1553.0,NaN,NaN,NaN,0
43,86,506,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Utilities,Total all sizes,...,223,units,0,v1428695123,1.1.1.2.3.1.2.1,134.0,NaN,NaN,NaN,0
64,128,548,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Management of companies and enterprises,Total all sizes,...,223,units,0,v1428693323,1.1.1.2.4.1.2.1,661.0,NaN,NaN,NaN,0
85,170,590,2016,"Canada, total",2021A000011124,Women,Total all corporations,Canada,Distributive trade,Total all sizes,...,223,units,0,v1428694448,1.1.1.2.5.1.2.1,198.0,NaN,NaN,NaN,0

In [11]:
# Trial Output for cards in app
from dash import Dash, dcc, callback, Output, Input, html
import dash_bootstrap_components as dbc
import dash_vega_components as dvc
import altair as alt
from vega_datasets import data

# df = pd.read_csv('data/filtered/pie_chart_data.csv')
cars = data.cars()

# Initialize the app
app = Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

# Components
title = [html.H1('carXplorer'), html.Br()]
global_widgets = [
    dbc.Label('Select x-column'),
    dcc.Dropdown(id='x-col', options=cars.columns, value='Horsepower'),
    html.Br(),
    dbc.Label('Filter on Origin'),
    dcc.Dropdown(id='origin-filter', options=cars['Origin'].unique(), value='USA'),
]
card_avg = dbc.Card(id='card-avg')
card_count = dbc.Card(id='card-count')
scatter_chart = dvc.Vega(
    id='scatter',
    spec={},
    signalsToObserve=['scatter_select'],
    style={'width': '100%'}
)

# Layout
app.layout = dbc.Container([
    dbc.Row(dbc.Col(title)),
    dbc.Row([
        dbc.Col(global_widgets, md=4),
        dbc.Col(
            [
                dbc.Row([dbc.Col(card_avg), dbc.Col(card_count)]),
                dbc.Row(dbc.Col(scatter_chart))
            ],
            md=8
        )
    ])
])
# Run the app/dashboard
if __name__ == '__main__':
    app.run(debug=True, host='127.0.0.1')