In [1]:
import pandas as pd

In [6]:
# DFs we use
df_csv = pd.read_csv('../data/filtered/filtered_data.csv')
replacement_df_csv = pd.read_csv('../data/filtered/filtered_data_replaced.csv')

# Conversion to parquet
df_csv.to_parquet('../data/parquet/df.parquet.gzip', compression='gzip')   
replacement_df_csv.to_parquet('../data/parquet/replacement_df.parquet.gzip', compression='gzip')

In [8]:
df = pd.read_parquet('../data/parquet/df.parquet.gzip')
#replacement_df = pd.read_parquet('data/parquet/replacement_df.parquet.gzip')

In [9]:
df.head()

,REF_DATE,Gender,GEO,VALUE,Industry,Type of corporation
0,2016,Women,"Canada, total",4277.0,Total all industries,Total all corporations
1,2016,Women,"Canada, total",1553.0,Finance,Total all corporations
2,2016,Women,"Canada, total",134.0,Utilities,Total all corporations
3,2016,Women,"Canada, total",661.0,Management of companies and enterprises,Total all corporations
4,2016,Women,"Canada, total",198.0,Distributive trade,Total all corporations