In [1]:
import pandas as pd
import altair as alt

In [5]:
df = pd.read_csv("../data/raw/filtered_canada.csv")

In [32]:
df["Executive"].unique()

array(['Directors', 'All officers\xa0', 'Top officers\xa0',
       'Other officers\xa0'], dtype=object)

In [55]:
new_df = df[(df['Type of corporation'] == 'Total all corporations') & 
            (df['Industry'] != 'Total all industries') & 
            (df["Size of enterprise"] == "Total all sizes") &
            (df["Unit of measure"] == "Number") &
            (df["Executive"] == "All officers\xa0") &
            (df["GEO"] == "Canada, total")
].copy()
new_df = new_df.loc[:, ["REF_DATE", "Gender", "Industry", "VALUE"]]
new_df.head()

     REF_DATE Gender                                 Industry   VALUE
44       2016  Women                                  Finance  1553.0
86       2016  Women                                Utilities   134.0
128      2016  Women  Management of companies and enterprises   661.0
170      2016  Women                       Distributive trade   198.0
212      2016  Women                                   Energy   113.0

In [58]:
new_df.to_csv('../data/filtered/pie_chart_data.csv', index=False)

In [57]:
df_fin = new_df[(new_df["Industry"] == "Finance")]
df_fin

        REF_DATE Gender Industry   VALUE
44          2016  Women  Finance  1553.0
2144        2016    Men  Finance  3069.0
63042       2017  Women  Finance  1630.0
65042       2017    Men  Finance  3168.0
123042      2018  Women  Finance  1584.0
125042      2018    Men  Finance  2915.0
183042      2019  Women  Finance  1085.0
185042      2019    Men  Finance  2095.0
243042      2020  Women  Finance  1163.0
245042      2020    Men  Finance  2001.0

In [60]:
df_fin_2016 = df_fin[df_fin["REF_DATE"] == 2016]

In [61]:
import pandas as pd

alt.Chart(df_fin_2016).mark_arc().encode(
    theta="VALUE",
    color="Gender"
)

alt.Chart(...)

In [ ]:
#testing